.app {
  padding: 1rem 1.75rem;
  height: auto;

  & > main > div {
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 4rem;
  }
}

@media (min-width: 426px)  {
  .app {
    padding: 5.5rem 8.5rem 7.5rem;

    & > main > div {
      display: flex;
      flex-direction: row;
      gap: 1.2rem;
      justify-content: space-between;
    }
  }
}
