.app {
  padding: 1rem 1.75rem;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2 ;

  & > main {
    & > div {
      flex-direction: column;
      justify-content: space-around;
      margin-bottom: 4rem;
    }
  }
}

.colorFilterBody{
  background: var(--blue-900-Trans);
}

@media (min-width: 426px)  {
  .app {
    padding: 5.5rem 8.5rem 7.5rem;

    & > main > div {
      display: flex;
      flex-direction: row;
      gap: 1.2rem;
      justify-content: space-between;
    }
  }
}
